<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h2>Join <%= @district_name %> on Tracker.ly</h2>
    <p>
      Click the following link to redeem your invitation:<br/>
      <%= @login_path %>
    </p>
    <p>Thanks,</p>
    <p>The Tracker.ly Ops Team</p>
    </p>
  </body>
</html>
