<%= link_to "Edit Staffing Assignments", new_school_district_school_faculty_membership_path(@school_district, @faculty_memberships) %>

<% @schools.each do |school| %>
  <%= link_to school.name, school_district_school_path(@school_district, school) %>
  <ul>
    <% school.school_faculty_memberships.each do |member| %>
      <li><%= member.user_name %></li>
    <% end %>
  </ul>
<% end %>
